*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    width: 100%;
    min-width: 310px;
    max-width: 40%;
    line-height: 20px;
    border-radius: 30px;
    border: 1px solid rgb(202, 202, 202);
    outline: none;
}
input{
    padding: 15px;
    background-image: url("mphone.png");
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: 98%;
}
input:hover{
    box-shadow: 1px 1px 10px 1px grey;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    border-bottom: 1px solid black;
}
i{
    padding: 12px;
}
i:hover{
    background-color: rgb(223, 223, 223);
    border-radius: 80%;
}
header{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 20%;
}
nav{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 10%;
}
.img1{
    width: 17%;
    height: 10%;
    border-radius: 50%;
}
main{
    display: flex;
    width: 100%;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 30px;
    position: relative;
}
button{
    border: none;
    padding: 15px;
    margin: 10px;
    letter-spacing: 1px;
}
.div1{
    display: flex;
    width: 100%;
    min-width: 330px;
    max-width: 40%;
    justify-content: space-evenly;
}
div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
}
.div2{
    align-items: center;
    width: 350px;
}
footer{
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightgray;
    padding: 0;
    margin: 0;
}
